---
import Card from "../components/ui/card.astro";
import Layout from "../layouts/DashboardLayout.astro";

const ITEMS = [
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
  { price: 120.0, title: "Bike" },
];
---

<Layout title="Yard Sale">
  <main>
    <section class="main-container">
      <div class="cards-container">
        {ITEMS.map(({ title, price }) => <Card title={title} price={price} />)}
      </div>
    </section>
  </main>
</Layout>
