---
import Logo from "../ui/logo.astro";
import PrimaryButton from "../ui/primary_button.astro";
---

<>
  <Logo/>
  <h1 class="title">Create a new password</h1>
  <p class="subtitle">Enter a new password for you account.</p>
  <form action="/" class="form">
    <label for="password" class="label"> Password </label>
    <input
      type="password"
      class="input input-password"
      id="password"
      placeholder="Password"
    />
    <label for="new-password" class="label"> New Password </label>
    <input
      type="password"
      class="input input-password"
      id="new-password"
      placeholder="New password"
    />
    <PrimaryButton>Confirm</PrimaryButton>
  </form>
</>
